{% extends 'consumption/layout.html' %}

{% block content %}
<a href="/">Go back to summary</a>
<div class="header">
 
  <p>Detail view for user= {{user_data.user_id}}</p>
</div>

	
	<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table style="width:100%">
  <tr>
    
    <th>User Area</th> 
    <th>User Tarrif</th>
	<th>User consumption average in Watts(W)</th>
	<th>User consumption total in Watts(W)</th>
	
  </tr>
  
  

    <tr>
		
		<td>{{user_data.user_area}}</td>
		<td>{{user_data.user_tariff}}</td>
		<td>{{user_data.user_consump_avg}}</td>
		<td>{{user_data.user_consump_total}}</td>
		
    </tr>


</table>


<br></br>
<br></br>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
       google.charts.load('current', {packages:['corechart']});
      google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {
          var data = new google.visualization.DataTable();
		  
          data.addColumn('string', 'Date'),
          data.addColumn('number', 'Total Consumption');
		  data.addRows([
			{% for o in user_detail %}
				["{{o.date_time|date:'m/d h:s'}}", {{o.comsump_data}}], 
			{% endfor %}
			
			])

         var options = {
           title: 'Total consumption for user {{user_data.user_id}} in 2016',
           legend: 'none',
           bar: {groupWidth: '95%'},
           vAxis: { gridlines: { count: 4 } }
		  
         };

      var linearChart = new google.visualization.LineChart(document.getElementById('linear_div'));
       linearChart.draw(data, options);
    }
    </script>
	 <div id="linear_div" style="width: 1500px; height: 500px"></div>
    
	
	
{% endblock %}